#Xtech{
font-family:Arial;
display: flex;
justify-content:flex-start;
padding-top: 15px;
font-size:large;
font-weight:lighter;
color:gray;
}
#Landing{
position:relative;
left:66px;
bottom:21px;
font-family:Arial;
font-weight:lighter;
font-size:large;
color:rgb(217, 217, 217);
}
#Callnow{
display: flex;
padding-top: 15px;
padding-left:200px ;
font-weight:lighter;
color:gray;
font-family:Arial;
}
#number{
position:relative;
left:300px;
bottom:19px;
font-family:Arial;
font-weight:lighter;
font-size:large;
color:rgb(217, 217, 217);
}
#perfect{
display: flex;
font-family:Arial;
justify-content:center;
align-items:center;
font-size: xx-large;
font-weight:lighter;
}
#tablet{
display: block;
margin-left: auto;
margin-right: auto;
}
#button{
float:right;
margin-top:15px;
}
#checkfeatures{
display: flex;
align-items: center;
justify-content:start;
padding-top: 25px;
font-size: large;
color:rgb(102, 179, 255);
}
#arrow1
{
padding-top:27px;
}
* {
  box-sizing: border-box;
}
.column {
float: left;
padding: 5px;
}
.container {
  position: relative;
  text-align: center;
}

#smalltext{
font-size:small;
color:gray;
}
#seecustomer{
display : flex;
padding-top:50px ;
font-size: large ;
margin-bottom:10px;
color:rgb(102, 179, 255);
}
#canvas
{
width: 930px;
height:90px ;
border:inset;
background-color:rgb(242, 242, 242);
}
#textincanvas{
  position: absolute;
  top: 20px;
  left: 10px;
  font-size:small;
  color:gray;
}
#steve{
font-size:small;
display:flex;
margin-top:10px;
justify-content:flex-end;
}

#dontwait{
font-size:large;
display:flex;
padding-top:40px;
padding-left:10px;
color:rgb(102, 179, 255);
}
#button2{
float:left;
margin-top:25px;
margin-left:25px;
}
#div1{
background-color:rgb(166, 166, 166);
}
#div2{
background-color:rgb(102, 102, 102);
}
#contact{
padding-top:20px;
padding-left:20px;
font-family:Arial;
}
#smalltext2{
font-size:small;
padding-left:20px;
padding-bottom:30px;
}
#map{
padding-top:55px;
}
#design{
display:flex;
padding-top:20px;
padding-left:20px;
font-family:Arial;
}
#icon{
padding-top:10px;
padding-left:20px;
}
#icon2{
padding-top:10px;
}
#policy{
display:flex;
justify-content:flex-end;
padding-top:10px;
padding-bottom:10px;
font-size:small;
}
#copyright{
padding-top:10px;
padding-bottom:10px;
font-size:small;
}
#bodycolor{
background-color:rgb(51, 0, 51);
}
#bodycolor2{
background-color:white;
}